<%- include("partials/header") %>

<div class="row">
	<h1 class="formHeader">Sign Up</h1>
	<div class="yelpForm">
		<form action="/register" method="POST">
			<label for="username">Username</label>
			<div class="form-group">
				<input class="form-control" type="text" name="username" id="username" required>
			</div>
			<label for="password">Password</label>
			<div class="form-group">
				<input class="form-control" type="password" name="password" id="password" required>
			</div>
			<label for="firstName">First Name</label>
			<div class="form-group">
				<input class="form-control" type="text" name="firstName" id="firstName" required>
			</div>
			<label for="lastName">Last Name</label>
			<div class="form-group">
				<input class="form-control" type="text" name="lastName" id="lastName" required>
			</div>
			<label for="email">Email</label>
			<div class="form-group">
				<input class="form-control" type="email" name="email" id="email" required>
			</div>
			<label for="profileImg">Profile Image URL</label>
			<div class="form-group"> 
				<input class="form-control" type="text" name="profileImg" id="profileImg">
			</div>
			<label for="aboutMe">About Me</label>
			<div class="form-group"> 
				<input class="form-control" type="text" name="aboutMe" id="aboutMe">
			</div>
			<label for="adminCode">Admin Code</label>
			<div class="form-group">
				<input class="form-control" type="password" name="adminCode" id="adminCode">
			</div>
			
			<div class="form-group">
				<button class="btn btn-lg btn-lg btn-block btn-primary">Submit</button>
			</div>
		</form>
		<a href="/campgrounds">Go Back</a>
	</div>
</div>

<%- include("partials/footer") %>