.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.deleteForm {
	display: inline;
}

.yelpForm {
	width: 30%; 
	margin: 30px auto;
}

.formHeader {
	text-align: center;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}